<input type="text" (input)="onTextChange($event)"/>
{{serverName}}
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreate($event)" >Add Server</button>
{{allowNewServer}}
<!-- <button class="btn btn-primary" disabled=!allowNewServer>Add Server</button> -->
<!-- <app-server></app-server>
<app-server></app-server> -->
{{serverCreationStatus}}
<p *ngIf="serverCreated else noServer">A server was created with name {{serverName}}</p>
<ng-template #noServer>
    <p>no Server was created!</p>
</ng-template>
<p>-------------------------------------------------</p>

<input type="text" [(ngModel)]="serverName" >
<br/>
<input type="checkbox" [(ngModel)]="serverBool">
{{serverBool}}
<br/>
<input name="group1" type="radio" [(ngModel)]="serverRadio"/>Radio 1
<input name="group1" type="radio" [(ngModel)]="serverRadio"/>Radio 2
<input name="group1" type="radio" [(ngModel)]="serverRadio"/>Radio 3
{{serverRadio}}
<br/>
<select name="mySelect"  [(ngModel)]="serverSelect">
    <option value="One">One</option>
    <option value="Two">Two</option>
    <option value="Three">Three</option>
</select>
{{serverSelect}}

<p>-------------------------------------------------</p>
<input type="text" [(ngModel)]="userName" />
{{userName}}
<button class="btn btn-primary" (click)="resetUserName()" [disabled]="userName.length ==0">Reset UserName</button>
<p>-------------------------------------------------</p>
<div>  
    <div class="radio">  
      <label><input type="radio" [(ngModel)]="prop" name="test" value="A">A</label>  
    </div>  
    <div>  
      <label><input type="radio" [(ngModel)]="prop" name="test" value="B">B</label>
    </div>  
    <div>  
      <label><input type="radio" [(ngModel)]="prop" name="test" value="C">C</label>  
    </div>  
  </div>
  <div *ngIf="prop === 'A'">A</div>
  <div *ngIf="prop === 'B'">B</div>
  <div *ngIf="prop === 'C'">C</div>
  <p>-------------------------------------------------</p>

<app-server *ngFor="let server of servers"></app-server>

<p>-------------------------------------------------</p>

<button class="btn btn-primary" (click)="toggleParagraphDisplay()">Display Details</button>
<p [ngStyle]="{'display': showParagraph ?'block':'none'}">Here is a demo paragraph</p>
<ul>
  <li *ngFor="let clickLog of clickLogs" [ngClass]="{'white-color' :clickLogs.indexOf(clickLog) > 3}" 
    [ngStyle] = "{'background-color':(clickLogs.indexOf(clickLog) > 3)?'blue':'none'}">{{clickLog}}</li>
</ul>